[2015-02-02 14:31] asd-and-Rizzo opened #51 "Skewed `Advanced features`"
Seems `Prepare And Register` and `Prepare And Register And Simple Resolve` broke `Advanced features` chart. May be  create separate chart for these, this will fix issue and may allow somebody add different initialization routines (e.g. XML, assembly scan or out of previously cached container registrations).

[2015-02-02 14:42] danielpalme commented on #51
What do you mean with broken?
It look different, because it contains more results, but it's not wrong.
And if you look at my blog, you will find all charts in the _Downloads_ section:
http://www.palmmedia.de/Blog/2011/8/30/ioc-container-benchmark-performance-comparison

[2015-02-02 15:13] asd-and-Rizzo commented on #51
Semantically `Prepare And Register` is not `Advanced`. Plus adding these into `Advanced` really hides perceived  prices for really `Advanced` features. `Advanced` as these where before about runtime jobs of resolving, `Prepare` about start up. Better to judge about these separately for those who not cares about start up time.

[2015-02-02 15:21] danielpalme commented on #51
Ok, makes sense to move them to a separate chart.

[2015-02-02 20:39] danielpalme commented on #51
Added new chart.

[2015-02-02 20:39] #51 closed

[2016-03-02 18:58] dadhi opened #57 "Fix statement in blog post regarding missed DryIoc documentation"
Since v2 it is no longer true.
Here is the extensive list of topics covered https://bitbucket.org/dadhi/dryioc/wiki/Home#markdown-header-usage-guide

Regarding supported platforms, almost everything is supported, including .NET Core. In addition support still starts from .NET 3.5, which is mostly abondoned by the rest of the folks.

[2016-03-02 20:08] #57 closed

[2017-01-25 15:39] amivit opened #62 "ASP.NET Core Dependency Injection"
https://github.com/aspnet/DependencyInjection

Possible to benchmark this guy too?

[2017-01-25 15:45] #62 closed

[2017-01-25 15:45] dotnetjunkie commented on #62
If you take a look at [Daniel's benchmark](http://www.palmmedia.de/Blog/2011/8/30/ioc-container-benchmark-performance-comparison), you'll see it actually lists `Microsoft Framework DependencyInjection`.

[2017-01-25 15:45] amivit commented on #62
I just closed my issue a second before you replied. My apologies!

[2017-03-10 18:25] mwpowellhtx opened #65 "Add Rezolver IoC benchmark"
Might be interested to see  [this one](http://github.com/ZolutionSoftware/Rezolver/). Thanks!

[2017-03-10 21:13] #65 closed

[2017-03-16 23:46] ipjohnson opened #66 "ASP.Net Core Benchmark"
With many of the containers supporting asp.net core out of the box it would be interesting to see a benchmark to represent a request.

I think it would be something like

* Resolve IServiceScopeFactory
* Call IServiceScopeFactory.CreateScope
* Resolve ISingleton1,2,3 services
* Resolve Transient disposable that is dependent on a hierarchy similar to  Complex but use a singleton per request lifesty

[2017-03-17 00:03] dadhi commented on #66
My two cents.

I would like to add, that child container test was never representive. It would be better to use more pure and common Unit-of-work case:
    using (scope = create scope)
        scope.Resolve<scoped service dependent on simple or complex tree of scoped, singletons, transients>

This should be supported by almost everyone and will make the things comparable.

Regarding Asp.Net Core,

[2017-03-17 00:10] ipjohnson commented on #66
@dadhi the child container test was originally intended to be representative of the unit of work for the Nancy framework where you can register dependencies.

That said it's as much a cautionary bench now as anything. Child scopes are not performant in a per request use case.

[2017-03-17 00:31] ipjohnson commented on #66
@dadhi to your point about most containers don't have a published provider I didn't realize it was quite so high.

Another option might be to skip the provider and just use each containers built in support for creating lifetime scopes similar to the way child container was implemented. This would really depend on how many containers support lifetime scopes but don't have asp.net core support (hope

[2017-03-17 07:16] dotnetjunkie commented on #66
@ipjohnson, the ability for DI Container writers to be able to write an adapter and the way Microsoft handled this situation has become quite a scandal. I think this is very important for the .NET community -and especially DI Container writers, to understand this situation and Microsoft’s position.

It's important to understand that even through there were many early warnings from DI experts in th

[2017-03-17 15:39] ipjohnson commented on #66
@dotnetjunkie I've actually been watching this unfold for the past two years so I am aware. I haven't been anywhere near as vocal but I have been watching and commenting where I felt I had something to add.

It's interesting you refer to a "scandal", I guess it's all in the eye of the beholder. I see a company that not that long ago was embrace and extend, a company that developed everything inter

[2017-03-18 11:48] ipjohnson commented on #66
@danielpalme what say you? Should I put together a pull request or create a new benchmark suite?

[2017-03-18 12:07] danielpalme commented on #66
@ipjohnson:
I don't think it makes sense to create another benchmark suite.
Just go ahead. Let's see what results we get

[2017-03-19 19:53] ipjohnson commented on #66
Hi all,

I put together a test of what I specified above [here](https://github.com/ipjohnson/IocPerformance). As it stands right now the results aren't exactly what you'd expect though I'm sure over time things will converge to some extent.

To keep things on the up and up it would seem prudent to give the other container developers @seesharper @z4kn4fein a chance to look at it and make and recomm

[2017-03-19 20:18] dotnetjunkie commented on #66
Wiring up Simple Injector is trivial, even without an adapter, just take a look at [the documentation](https://simpleinjector.org/aspnetcore), but in its simplest form (i.e. if you're not interested in verifying your DI configuration), it's just a matter of hooking the `SimpleInjectorControllerActivator` to the built-in configuration system and you’re good to go:

[code]

That depends upon the ben

[2017-03-19 20:24] ipjohnson commented on #66
@dotnetjunkie sounds good I'll leave out SimpleInjector as to not communicate the wrong message.

Thanks.

[2017-03-19 22:42] z4kn4fein commented on #66
Thanks for creating this, seeing this numbers is very helpful. From the perspective of Stashbox it's ok to start with, i'm planning to introduce my changes later, until that i don't want to block the release of this new benchmark.

Thanks again.

[2017-04-03 20:46] danielpalme commented on #66
Integrated PR #68

[2017-04-03 20:46] #66 closed

[2017-05-04 16:10] seesharper opened #71 "Root Services"
The problem is that the number of root services (services resolved directly from the container) grow gradually as the various benchmarks are executed. Most containers have some kind of dictionary that maps a service type to the delegate that represents resolving the service.  When we talk about the top performing containers, looking up this delegate is actually what sets them apart. Some use a sim

[2017-05-04 16:39] ipjohnson commented on #71
I like @seesharper idea, the only caveat to all this is that containers that actually have more features and compete in more benchmarks end up at a slight disadvantage compared to containers that don't compete in all. If we went this way maybe we could some how add extra registrations (and resolve them) for containers that don't compete in all so they don't get an advantage.

I spend most of my ti

[2017-05-04 16:39] dotnetjunkie commented on #71
I agree with this analysis. Daniel would probably be thrilled to see a pull request :)

[2017-05-04 20:19] seesharper commented on #71
@danielpalme What do you think? Would you accept a pull request to fix this?

[2017-05-04 20:26] danielpalme commented on #71
Sure. Let's see if this really makes a big difference.

[2017-05-05 21:08] danielpalme commented on #71
Merged pull request #72

[2017-05-05 21:08] #71 closed

[2017-05-06 21:37] ohadschn opened #73 "Where is Castle Windsor?"
It is mysteriously missing from the list in the main page:
https://github.com/danielpalme/IocPerformance

Even though a quick search shows some references to it in the code...

[2017-05-07 00:07] ipjohnson commented on #73
It was dropped out because castle windsor 3.X is not compatible with castle core 4.0

This [PR](https://github.com/danielpalme/IocPerformance/pull/68) has some comments from one of the castle windsor developers  recommending dropping it from the benchmark till it's compatible with castle core 4.0

[2017-05-07 00:10] ohadschn commented on #73
@ipjohnson I see, thanks for explaining.
I take it the 3.X performance was not too great?

[2017-05-07 00:46] ipjohnson commented on #73
Faster than some, slower than others ...

Here is the [readme](https://github.com/danielpalme/IocPerformance/blob/8778fe1f68b9edd462b2c6e4c2a2dafc87587f1f/README.md) before the change

[2017-05-07 02:16] jzabroski commented on #71
Hi Ian,

Could you explain to me a bit more what you mean by custom controller and
view activation?

For view activation, I think you're just talking about subclass ing
RazorViewEngine class and then of course providing concrete implementation
for its constructor arguments i.e. IRazorPageFactory, etc.

For controller, I am less clear.

If you know an open source project or can share a lightweight

[2017-05-07 02:37] ipjohnson commented on #71
Hi John,

Close I was talking about the `IViewPageActivator` and `IControllerActivator` interfaces that are used by MVC to activate views and controllers.

A number of the DI containers provide their own implementations that can be plugged in (different MVC version wire up differently).

Feel free to email me if you have more questions for me so this issue can be closed out.

-Ian

[2017-05-07 15:26] ohadschn commented on #73
@ipjohnson thanks!
For some reason the graphs don't show it though...

[2017-05-07 15:31] ipjohnson commented on #73
@ohadschn  The graphs only show containers that finish in a certain amount of time. Look at the raw numbers listed in the tables it's under Windsor.

[2017-05-07 15:35] ohadschn commented on #73
Understood, thanks so much for you patience!
Feel free to close this issue...

[2017-05-07 16:15] #73 closed

[2017-05-12 19:13] ipjohnson opened #76 "Level playing field"
With the changes introduced with issue #71 we attempted to level the playing field and come up with a more real world test. This give a speed advantage to containers that have less features.

This wasn't a concern before as the top containers all competed in all the benchmarks (minus the child container). Now that abioc is the top container it competes in less than half the benchmarks and has a re

[2017-05-12 21:35] DixonDs opened #77 "BenchmarkDotNet"
Will it make sense to use it here?

[2017-05-12 21:40] ipjohnson commented on #76
Also we'll want to make sure each container has roughly the same number of registrations not just resolving extra registrations.

@danielpalme I'd like to put together a PR for this if you'd accept it.

[2017-05-13 05:16] dadhi commented on #76
hi, I would rather add NoContainer X 20 time to missing bmarks if other iocs, plus fill them in grey on charts.

[2017-05-13 05:32] dadhi commented on #76
Sorry, not "rather" but combine this with above suggestion

[2017-05-13 19:19] danielpalme commented on #77
BenchmarkDotNet is a great. But I don't think it's worth the effort to migrate, since this works fine for quite a while now.
One big advantage of my custom implementation is, that it is able to only execute benchmarks for updated containers. I'm not sure if BenchmarkDotNet would support this out of the box.

[2017-05-13 19:23] danielpalme commented on #76
I'm not sure, which approach is better here. But adding NoContainer X 20 seems a bit random and does not correlate with the container's performance at all.
But as abcioc is still under development, its performance will most likely decrease in the future.

[2017-05-15 19:18] ipjohnson commented on #76
@danielpalme I thought about it a bit more and I'm torn. On one hand I'm a firm believer in having benchmarks that are equal and fair to all. On the other hand as it is still in development it has few features and people are probably not going to use just for it's minor speed improvements when it doesn't support the platform they are developing on (UWP, Xarmain, MVC, etc)

What if you just put a n

[2017-05-15 20:27] danielpalme commented on #76
Let's just keep this issue open and have a look at it in a few weeks.
I believe there are more important things to do.

[2017-05-15 20:27] #77 closed

[2017-05-15 23:54] dadhi commented on #77
Also not sure how to convert multithreaded bmarks.

/cc @AndreyAkinshin, @adamsitnik

@danielpalme, @DixonDs,
Additional and major benefit, comparing to the current approach would be the memory consumption stats.

[2017-05-16 15:12] adamsitnik commented on #77
With BenchmarkDotNet you can choose which benchmarks you want to run, but there is no way to filter them by things like recently updated NuGet packages or sth like that. So you can define benchmarks for A, B and C and then say: run benchmarks only for B.

Multithreaded benchmarks are not supported yet. They are on our list, @AndreyAkinshin is working on that, but we don't expect to release it soon

[2017-05-16 15:24] ipjohnson commented on #77
Looks like @stebet ported over a couple of the test to BenchmarkDotNet [here](https://github.com/stebet/DependencyInjectorBenchmarks)

[2017-05-16 16:13] dadhi commented on #77
@stebet Is it only me, or the results table layout is broken and not readable.. at least from mobile.

[2017-05-16 16:18] ipjohnson commented on #77
@dadhi it's not just you, I happen to have a repo of it and hacked the Readme.md quickly [here](https://github.com/ipjohnson/DependencyInjectorBenchmarks/blob/master/README.md) to make it more readable (it wasn't like this the last time I looked)

[2017-05-16 17:46] dadhi commented on #77
Thanks @ipjohnson,

Then not so much difference with @danielpalme bmarks. Memory is not surprising either.

For me BenchmarkDotNet is valuable tool to see results in (very) specific cases. General cases are more predictable.

[2017-06-10 13:12] stebet commented on #77
Hi. Nice to get a mention here :)

First of all, thank you @danielpalme for your excellent benchmarks. they are very detailed and I have used them as a reference a lot.

I didn't exactly port the benchmarks over, it was more of an experiment for me to learn how to use BenchmarkDotNet and since I was looking at IoC containers a lot at the time (using @danielpalme excellent benchmarks as a starting

[2017-07-12 13:57] jonorossi opened #81 "Reinstate Windsor"
Hey guys, I've just released Castle Windsor 4.0.0 which supports .NET Core and Castle Core 4.0.0.

https://github.com/castleproject/Windsor/releases/tag/v4.0.0

[2017-07-12 18:31] danielpalme commented on #81
I have updated the benchmark with the latest Windosor release.

Any hint for me how I can add tests for Net Core?
See these containers for comparsion:
https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Adapters/GraceContainerAdapter.cs#L95
https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Adapters/DryIocAdapter.cs#L80

[2017-07-12 22:55] lamLeX opened #82 "Web app to display the result nicely."
I would like to contribute by creating an web app to display the test result nicely.
The results could be sorted, hidden, or graphed.
The app will be scheduled to run every times a new version of IoC is updated.
The app will be hosted on Azure App Service.

Are you interested in PR for this feature?

[2017-07-13 04:29] jonorossi commented on #81
We don't yet have support for ASP.NET Core's `Microsoft.Extensions.DependencyInjection`. It is currently a work in progress to bring built-in support.

@hikalkan wrote the `Castle.Windsor.MsDependencyInjection` package which is well maintained, however the .NET Standard target still depends on a Windsor fork for .NET Core support so can't be used yet (see https://github.com/volosoft/castle-windsor

[2017-07-13 06:16] hikalkan commented on #81
Just released v2.1 for Castle.Windsor.MsDependencyInjection: https://www.nuget.org/packages/Castle.Windsor.MsDependencyInjection

It depends on Castle.Windsor anymore. Thank you @fir3pho3nixx and @jonorossi.

[2017-07-13 07:24] danielpalme commented on #82
Nice idea.

You can have a look at the existing [IOutput](https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Output/IOutput.cs) implementations:
https://github.com/danielpalme/IocPerformance/tree/master/IocPerformance/Output

You can add one more implementation of the [IOutput](https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Output/IOutput.cs) interfa

[2017-07-13 21:31] lamLeX commented on #82
GitHub Pages seem to be a good start.
I'll put some time to investigate your recommendation and see how much I can do.

[2017-08-02 13:41] danielpalme opened #83 "Discussion: How to remove "noise" from the benchmark"
At the moment the benchmark contains 35 containers.

**Question 1: Should containers be categorized as relevant / not relevant for the benchmark?**

**Question 2: Based on which criteria should containers be categorized as relevant / not relevant?**
- Only few months of history
- Not actively maintained
- Few features, no integration options
- Few contributors

**Question 3: What should happen wit

[2017-08-02 14:37] dotnetjunkie commented on #83
How do you determine 'Not actively maintained'? For instance, do you consider Ninject "actively maintained". The [last commit](https://github.com/ninject/Ninject/commits/master) was in April this year. [Last question](https://github.com/ninject/Ninject/issues/242) was in March. If you have determined on what the criteria are for this, how do you prevent abuse (like the maintainer doing a dummy che

[2017-08-02 15:12] ipjohnson commented on #83
@dotnetjunkie so is it your stance that nothing should be done?

Also I'm not sure what this mean "On the other hand, some containers seem to just try to get a 100% score on that comparison, while the quality of their implementation might vary.". Do you have a reason to assert there might be quality problem with other containers because otherwise the comment just seems out of line.

[2017-08-02 15:14] dadhi commented on #83
As it is a performance benchmark I would consider to put a cirtain threshold on benchmark results. Then move "slow" containers under the cut. Update the fast containers often, and slow per someone's/maintainer request only.

Personally, when checking DryIoc perf using this benchmark, I am putting FastAttribute on few containers only. This help to get results

[2017-08-02 15:29] dotnetjunkie commented on #83
@ipjohnson,

To give an example, most containers have only very limited support for generics and type constraints. Generic type constraints are unfortunately very complex (you can do all kinds of shuffling with arguments, have nested types, constraints, [Curiously recurring template pattern](https://en.wikipedia.org/wiki/Curiously_recurring_template_pattern), and other really fun things), and some

[2017-08-02 15:36] ipjohnson commented on #83
@dotnetjunkie so because you believe SimpleInjector's implementation is better you feel it's ok to question other containers quality? Have gone through and tested all these other containers that you are implying aren't as good or just making assumptions that they can't be as good?

[2017-08-03 00:24] ipjohnson commented on #83
@danielpalme would it be possible to maybe make the result page more interactive so containers could be filtered out on some criteria (speed, released in the last year, etc). This way things aren't removed persay but they can easily be hidden.

[2017-08-03 09:06] danielpalme commented on #83
@ipjohnson
Yes @lamLeX had the idea to create an interactive page (see [#82](https://github.com/danielpalme/IocPerformance/issues/82)).

Let's wait on his result and then we can more filter options.

[2017-08-03 10:42] dotnetjunkie commented on #83
@danielpalme, let me retract that previous statement of mine, since it distracts from the main conversation in this thread. The point I was trying to make was that comparison of features is difficult because a feature description like 'supports open generics' is just too broad. It will most likely in every case disqualify certain containers where they may have other compelling features that won't

[2017-08-03 18:22] lamLeX commented on #82
Sorry for a long delay, last couple weeks were busy time for me.
I would like to give a quick status update on the progress.

After clone, fork and run the project locally, here is what I propose for the action plan:

- [ ] Create JSON output file from [IOuput](https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Output/IOutput.cs) interface
- [ ] @danielpalme need to run the b

[2017-08-03 19:51] danielpalme commented on #82
Here is the current result.json. I will create the gh-pages branch when the complete page is available.
[result.zip](https://github.com/danielpalme/IocPerformance/files/1198418/result.zip)

[2017-08-24 19:56] lamLeX commented on #82
Thank you for your waiting,
Here is my first trial run https://lamlex.github.io/IocPerformance/IocPerformanceResultWebApp/dist/index.html

@danielpalme  can you review and give me some opinion before I clean up the code, writing instruction for compiling and making the pull request?

[2017-08-28 06:47] danielpalme commented on #82
I would change the following things:
- Remove the paging and show all container in the beginning
- Group the different the benchmarks into _Basic_, _Advanced_, _Prepare_ and show the _Basic_ set when the page loads. The user should not be forced to select a particular benchmark before he is able to see any results.
- Use a consistent font for table and header

[2017-08-28 07:34] lamLeX commented on #82
@danielpalme can you show me where the font for table and header are not consistent? Is it the text "Welcome to IoC Performance Benchmark!" ?

[2017-08-28 08:04] danielpalme commented on #82
Yes, the header uses "Times New Roman" (on Windows).
All the other text uses "-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;"

[2017-08-30 00:33] jzabroski commented on #82
This does not display well on my mobile phone. While this is an interesting idea, I think the best visualization would be 4 scatter charts and a drop down to select different competitors. Basically, this is the type of tool you choose at the start of a project and don't revisit, so generally support for features and performance and maintenance /documentation (Google search reaults, stack overflow

[2017-09-01 19:47] lamLeX commented on #82
@danielpalme During implementing this suggestion

 I would like to add additional property to [https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Benchmarks/Result/BenchmarkInfo.cs](BenchmarkInfo) and [https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Benchmarks/IBenchmark.cs](IBenchmark) to show the group category that the benchmark belongs to (Basic,

[2017-09-01 19:58] lamLeX commented on #82
@jzabroski I appreciate your suggestion about the scatter chart. Unfortunately, it will require to completely redesign the app. This is done during my spare time so I don't think I could have enough time to finish your suggestion. However, since GitHub is an open community. You are welcomed to fork my repo or the original one and work on your design.
About the mobile phone display, I'll verify to

[2017-09-02 20:51] danielpalme commented on #82
The JSON now contains a property "Category" in object "BenchmarkInfo"
0 = Basic,
1 = Advanced
2 = Prepare

[2017-09-02 20:54] danielpalme commented on #83
I converted the benchmark to .NET 4.7 and VS 2017.
I dropped packages.config in favor to PackageReference.
I also dropped the containers DryIocZero, Petite.Container, TinyIoC since they can't be properly installed via Nuget.

[2017-09-02 21:25] ipjohnson commented on #83
@danielpalme you can also drop StyleMVVM off as it became the basis for Grace.

[2017-09-03 05:08] lamLeX commented on #82
@danielpalme can you send me the updated JSON so that it will be consistent with your report in the markdown?

Also, could you suggest a place for me to put the final JSON that you would prefer?
Currently, I used the relative path `./assets/result/result.json`.
The `./` is currently interpreted as Angular app dir at the GitHub-pages https://lamlex.github.io/IocPerformance/IocPerformanceResultWebAp

[2017-09-03 07:00] dadhi commented on #83
@danielpalme, new NuGet made it more harder to deliver content with packages, e.g. DryIocZero. Hope to solve it soon.

[2017-09-03 08:56] danielpalme commented on #83
@ipjohnson
I also removed StyleMVVM

[2017-09-03 08:58] danielpalme commented on #82
I have added a simple GitHub Page to the "/docs" directory:
https://danielpalme.github.io/IocPerformance/

This is generated by the following class:
https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Output/GithubPagesOutput.cs

Here you will find the latest JSON file:
https://github.com/danielpalme/IocPerformance/blob/master/docs/result.json

[2017-10-05 06:59] dzmitry-lahoda commented on #83
Yes

[code]

I have seen project which got to top with short history because where very cool and got NH effect.

Very hard to measure.

May kind of metrics exists in a wild? E.g. some open source projects metrics.

Yes. Git stores history for revival later.

Put removed into list with reason why removed and date.

[2017-10-05 07:15] dzmitry-lahoda opened #86 "`Real world` scenario specification disscussion"
Real worlds scenarios involve complex object graphs. Some containers could work better or worse in such case. So current tests make me to doubtful about results as using small amount of types may lead to false results.  I going to write `.tt` file which generates and registeres 200 classes into 3 most fastest containers and Autofac and DryIoC.

My setup will be *Layered HTTP Web API like backed ap

[2017-10-06 23:39] fir3pho3nixx commented on #81
We are still working on this by the way, once we have made an in-road into how we achieve this we will definitely get back to you.

I do have a question about [ContainerAdapterBase->CreateServiceCollection](https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Adapters/ContainerAdapterBase.cs#L73). Would you be partial to creating a new method that supports non conforming contai

[2017-10-07 00:45] ipjohnson commented on #81
@fir3pho3nixx I wrote the test for asp.net core so I can speak to the test and while I'm not the least bit interested in rehashing the topic in that issue there are a few things I'd like to point out.

* Autofac - is a "conforming" container so there isn't a reason to use the non conforming route
* Ninject - is no longer being developed and doesn't support .netstandard
* StructureMap - has a confo

[2017-10-07 10:44] fir3pho3nixx commented on #81
@ipjohnson - Sorry if I am resurrecting old things, was not my intention. I was merely quoting the issue I referenced. I appreciate things might have moved on, so thanks for the update.

After reading the issue you posted I can see why supporting this test might give the wrong impression. What I am really after is the AspNetCore metric (which we want to support using facilities) but potentially wi

[2017-10-07 10:45] dadhi commented on #81
Small (or not so) correction that both [Ninject](https://github.com/ninject/Ninject/issues/236) and [Unity](https://github.com/unitycontainer/unity/issues/72#issuecomment-330929318) are active now and releasing the versions with .Net Standard support.

[2017-10-07 13:26] ipjohnson commented on #81
@dadhi my mistake as of august both projects hadn't released in quite some time and had open issues questioning if they were still being developed with no response from the developers. That said let's wait for when/if official releases happen to see if they are conforming or non-conforming.

@dotnetjunkie please correct me where I'm wrong as I don't use the non conforming route. The non conforming

[2017-10-07 13:54] dotnetjunkie commented on #81
@ipjohnson,

I don't think there is really "one way" to be non-conforming, and I'm not sure I completely follow what you are saying, but in general, I would say that non-conforming means:

- That the built-in MS DI Container [let's call this the "framework's configuration system"] is used for all built-in ASP.NET components and 3rd party components that require registration of their components.
-

[2017-10-07 15:01] ipjohnson commented on #81
@dotnetjunkie yes thank you most helpful. Quick question just for clarification, a new scope will be created for each request in both the "framework configuration system" and the "application container" correct?

@fir3pho3nixx after reading steven's description you are correct the controllers would be in the application container not the "framework configuration system". That said the way the benc

[2017-10-07 15:19] dotnetjunkie commented on #81
Correct. You could have two scopes that start and end at the same time, but since each has its own set of components you would typically not notice this.

That changes however when you let both containers compose the same components (a bad idea), because that could lead to _Torn Lifestyles_.

[2017-10-08 00:57] fir3pho3nixx commented on #81
I would just like to deliver a mega huge thank you to @dotnetjunkie, @danielpalme for participating in this discussion.

Are we saying we can support metrics for conformers/non-conformers separately though? Or should we try and merge this into one metric?

PS: @ipjohnson congrats for setting the bar for conformers using [Grace](https://github.com/ipjohnson/Grace), I am going to be trawling through

[2017-10-08 13:58] dotnetjunkie commented on #81
I think @ipjohnson is lucky enough that his container design matches the MS Abstraction close enough to be able to adapt. But container authors must also be aware that adapting to the abstraction can also severely limit the evolution of their container. New features can only be added when they don't cause any compatibility issues that cause the adapter to break. An easy example is when Johnson wan

[2017-10-08 14:25] ipjohnson commented on #81
@dotnetjunkie Grace actually has a feature that allows the user to get a list of possible missing dependencies allowing the validator to ignore 3rd party registrations if they want.

@fir3pho3nixx thanks for the compliment.

[2017-10-08 14:31] dotnetjunkie commented on #81
@ipjohnson, that's great, but verification in Castle and especially Simple Injector go much further than that. It much more than simply checking whether an object graph can be created. It's about detecting whether a certain configuration can cause problems, even if it can be created.

This has proven to be an incredible powerful feature and is IMO the main reason for SI's popularity.

But once you

[2017-10-08 14:32] ipjohnson commented on #81
@dotnetjunkie thanks I'll keep your thoughts in mind ;)

[2017-10-21 18:02] dotnetjunkie commented on #81
Perhaps I'm a bit late, but I would like to point out that StructureMap actually isn't fully conforming. Although they do have an adapter, their adapter fails several of the spec tests as defined by Microsoft. Once developers run into issues concerning incompatibility, using StructureMap as a non-conforming container probably is your only way around this. So yes, using StructureMap in a non-confor

[2017-10-31 19:56] #82 closed

[2017-10-31 19:57] #86 closed

[2018-01-18 14:29] ENikS opened #87 "Incorrect Unity testing"
It seems you configure Unity with Interceptors for all of you tests. Interception introduces reflection into building strategy and is rather slow. It skews results dramatically.
I would suggest either creating two adapters with and without interception or configuring Interception only if it is required by the tests.

Most of the containers do not have interception so it creates unfair advantage wh

[2018-01-18 14:40] ENikS commented on #87
As a side note I was wondering if you would be interested in migrating your benchmark to [this](http://benchmarkdotnet.org/) platform?
Disposable Application Domains do not provide as accurate results as the library I've linked.

[2018-01-18 14:49] ENikS commented on #87
It looks like your adapter is missing implementation for Generics and ASP.NET as well. Let me know if you want help with implementing these.

[2018-01-18 17:04] danielpalme commented on #87
Well, one could also argue, that Unity should take care of Interceptors and only enable it for classes that are configured with interception.
But if you would like to change that, just do it.

I don't plan to update to Benchmarkdotnet, since it does not support multi threaded tests. We already discussed this in another issue (see #77).

If you like, you can add support for missing features like Ge

[2018-01-18 18:06] ENikS commented on #77
Would you guys be interested to create a more or lest standardized test platform for IoC?
This project is great but it does not address everything.

[2018-01-18 19:22] dadhi commented on #77
What do you mean? What's not covered in your opinion, just interested.

Btw, @ipjohnson had created BDN based bmarks here https://ipjohnson.github.io/DotNet.DependencyInjectionBenchmarks

[2018-01-18 20:05] ENikS commented on #77
@dadhi Thank you for the link

[2018-01-19 02:52] ENikS commented on #77
@dadhi  Let me demonstrate one of the shortcomings:

For example if you look at [AutofacContainerAdapter.cs](https://github.com/danielpalme/IocPerformance/blob/master/IocPerformance/Adapters/AutofacContainerAdapter.cs) you will see that container does not resolve(create from scratch) any types. All types are registered with corresponding factories so container simply locates factory and let it cra

[2018-01-19 02:59] ENikS commented on #87
One would totally agree with you but unfortunately original Unity did not do that. Version 5.x is created as replacement for v4.0.1. and was kept compatible with the original.

Unity 6 will fix it.

[2018-01-19 05:09] dadhi commented on #77
Inconsistency, yes, may be. it depends.

Like there is always a tendency to use fastest things in benchmarking.  If we use Aitofac typed registrations, it may also be said, that we are not using __what we should to get a performance out of autofac__. "Somewhat" similar to the Unity interceptors topic.

May be we can split into fastest possible and general use cases.

But we need to evaluate each c

[2018-01-19 05:14] ENikS commented on #77
Personally I do not care which method is being used as long as all containers use it. Consistency is the key, otherwise these benchmarks are misleading.

[2018-01-19 05:51] dadhi commented on #77
@ENikS I am agree that it is generally, but there also case by case considerations and container proficiency. You should know what is go and no-no for specific container.

For example, using delegates for Autofac does not mean bypassing container engine. Cause it still need to support lifestyles, relationship types, tracking, etc.. etc.
Also if it was just a dictionary, then Autofac would've been

[2018-01-19 05:56] dadhi commented on #77
I mean you may change the registrations for Autofac for consistency. It is fine from my perspective.

[2018-01-19 09:23] danielpalme commented on #87
But that is the problem of Unity, not the problem of the benchmark. If you change this now, we have to revert the change as soon as Unity 6 is available.
It is nearly impossible to create a benchmark that treats all containers 100% fair.

[2018-01-19 12:37] ENikS commented on #87
I have not decided yet if I want to support interception in Unity 6. Interception was not a good idea to begin with,

[2018-01-19 12:38] #87 closed

[2018-01-19 13:33] ENikS commented on #77
@dadhi  Maksim it is like pregnancy, you either pregnant or you are not. You either engage type creation pipeline or you don't. Without it any container is just a glorified dictionary.

[2018-01-19 13:40] dadhi commented on #77
@ENikS, Won't agree as an author of container.

[2018-01-19 13:44] ENikS commented on #77
@dadhi You decided to pull an ace from your sleeve :)
As someone rewriting Unity engine I know what I am talking about as well.

[2018-01-19 14:51] ENikS commented on #76
As discussed in #77 it is apparent that current registration strategy creates a loophole for containers to cheat on these benchmarks. I would like to offer a solution which would eliminate it.

Instead of registering all required types adapter should provide override to these three methods:
[code]
The framework itself should call RegisterType and RegisterInstance to initialize container and once d

[2018-01-24 19:29] bonesoul opened #90 "tinyioc results?"
can't seem to find them?

[2018-01-24 19:52] danielpalme commented on #90
TinyIOC is currently ignored. Reason: Not installable in VS 2017

[2018-01-24 20:01] #90 closed

[2018-01-24 21:08] fir3pho3nixx commented on #81
Update: I hope to raise the PR for the new Castle Windsor AspNet Core facility by the end of the week, just to allow some time for everyone on this [issue](https://github.com/castleproject/Windsor/issues/120) to provide some community feedback.

https://github.com/fir3pho3nixx/Windsor.AspNetCore

Will help out with the benchmark after that.

[2018-02-15 07:06] NikolayPianikov opened #92 "Resolve instances using generic "Resolve" methods"
It makes results more accurate because of there are no any additional operations of conversions of type. Actually it is more sensible scenario to use these methods and all IoC containers have these methods

[2018-02-15 15:26] dadhi commented on #92
Half (or may be more) of container usage cases is integration within other tools, frameworks. Usually it is done by implementing some kind of `IResolver` interface. The `IResolver` need to operate with types known at run-time, returning the `object` and `IEnumerable<object>`.

I would say that statically known resolved type `T` is more specialized case than more general run-time `object`.

Conside

[2018-02-15 16:28] NikolayPianikov commented on #92
Yes I measured the performance `<T>` works 2 times faster `object`. That is test:
[code]

For `object` we have:
`
      IL_002a: ldloc.1      // 'value'
      IL_002b: call         object ConsoleApp1.Program::Get(class ConsoleApp1.Program/MyClass)
      IL_0030: castclass    ConsoleApp1.Program/MyClass
      IL_0035: stloc.1      // 'value'
`

For `<T>` we have:
`
      IL_0052: ldloc.1      // 'v

[2018-02-15 16:40] NikolayPianikov commented on #92
Another 2 points:

- `container.Resolve()` is not common way how users use IoC containers. For example it could be just one call `container.Resolve()` of some root object and in others cases it just some injection without any `container.Resolve()`.

- `No IoC` case uses Dictionary and lamdas. I think `No IoC` should be just like `new Class1(new Class2())` ans so on. That would be the true test

[2018-02-15 16:53] ipjohnson commented on #92
@NikolayPianikov `Resolve(Type)` is how it's used when integrating with frameworks like asp.net and many other framework so for a lot containers `Resolve(Type)` is a huge use case and `Resolve<T>` is not used much.

I agree with @dadhi an additional `Resolve<T>` test might be interesting if you resolved the exact same types so you could do an apples to apples comparison to `Resolve(Type)`.

[2018-02-15 20:05] NikolayPianikov commented on #92
Well, I agree with the majority. And it is a too small loss of performance.
I had a slightly different experience using IoC :)
I close the question

[2018-02-15 20:05] #92 closed

[2018-04-10 13:04] rsabirov opened #96 "Build issue: Cannot restore packages in latest version"
Hello, trying to build fresh repo checkout of version e9365e69c2d75d9fce7c287f0ffb8177a021cc1b.

Packages cannot be restored because of this error:

`NU1608: Detected package version outside of dependency constraint: Ninject.Extensions.ChildKernel 3.2.0 requires Ninject (>= 3.2.0 && < 3.3.0) but version Ninject 3.3.4 was resolved.`

[2018-04-18 00:52] fir3pho3nixx commented on #81
Crikey, This took a while.

We now have a production ready version of our ASP.NET.Core facility here: https://github.com/castleproject/Windsor/pull/394

Do we need to release it before we can benchmark? Or can I help submit a PR before hand?

Thanks to @generik0 for helping out.

[2018-04-18 18:36] danielpalme commented on #81
A (pre-release) package on Nuget is the preferred way to get the latest release.
A PR is also very welcom.

[2018-04-21 20:44] davidfowl opened #98 "Use BenchmarkDotNet"
Love this benchmark!

Change the custom benchmarking infrastructure to use BDN, it's the de-factor benchmarking tech for .NET projects now and it'll likely produce more accurate results and more detailed measurements (like allocations etc).

/cc @adamsitnik @AndreyAkinshin @mattwarren

[2018-04-21 23:35] dadhi commented on #98
Here is decent inheritor BM using the BDN:
https://ipjohnson.github.io/DotNet.DependencyInjectionBenchmarks/

/cc @ipjohnson

[2018-04-22 01:31] davidfowl commented on #98
Wow that’s pretty awesome. Also some of these containers are near native speed (same as without a container), I need to see what they do under the covers.

[2018-04-22 07:45] danielpalme commented on #98
Duplicate of #77

[2018-04-22 07:45] #98 closed

[2018-07-12 19:24] fir3pho3nixx commented on #81
We are getting close! :)

Thanks for being so patient.

[2018-08-03 12:19] idealist1508 opened #100 "Feature: Add Lamar benchmark"
Please add [Lamar](https://github.com/jasperfx/Lamar). Thanks

[2018-08-03 12:22] danielpalme commented on #100
Could you create a PR?
Branch already exists: https://github.com/danielpalme/IocPerformance/tree/lamar
But I was not able to get it working the last time I tried.

[2018-08-03 19:00] danielpalme commented on #100
Just tried again.
I get strange exceptions when I try to resolve instances provided by the Lamar container.

E.g. `Mirosoft.Build.Framework` or `System.Web.Razor, Version=1.0.0.` is missing.

I have no idea what causes this.

[2018-08-03 19:20] #96 closed

[2018-08-07 19:02] idealist1508 commented on #100
Some nuget packages are missing. I fix it. See PR

[2018-08-07 20:33] danielpalme commented on #100
Thanks! Results have been updated.

[2018-08-07 20:33] #100 closed

[2018-08-07 23:11] dadhi opened #102 "No containers with result 0 in Prepare chart"
DryIocZero and Cauldron with best results are out of Prepare chart.

[2018-08-08 02:04] jzabroski commented on #83
I think there are SO MANY IoC frameworks (I hate the word container as I believe it fundamentally breaks encapsulation). The best thing to do is to start showing trends in libraries month over month so that the open source community can begin to choose libraries actively being made faster and with more features.

If we adopt benchmark.net, then we can really get some hardcore data.

[2018-08-08 06:35] dadhi opened #103 "Some results in Prepare show less for Register than for Register+Resolve"
Examples:

![image](https://user-images.githubusercontent.com/39516/43819993-898383de-9aed-11e8-82fb-20446bba4f43.png)
![image](https://user-images.githubusercontent.com/39516/43820013-9880c96e-9aed-11e8-9676-52faf66e9582.png)
![image](https://user-images.githubusercontent.com/39516/43820037-aa98019e-9aed-11e8-8813-319e1539fcda.png)

I do understand, that it may be an acceptable error delta. But l

[2018-08-20 03:42] Ricky-G opened #104 "Compare the default asp.net core DI"
There doesn't seem to be a benchmark for the asp.net core DI that comes out of the box.  Would be really to find out what its figures are compared to the rest of the pack.

[2018-08-20 03:54] dadhi commented on #104
asp.net core DI is called Microsoft.Extensions.DependencyInjection and its benchmark is included.

[2018-08-20 06:47] #104 closed

[2018-11-07 13:06] dzmitry-lahoda commented on #83
I guess some IoCs will fail to run resonably or real graphs https://github.com/danielpalme/IocPerformance/issues/86  . Hence it is possible to both get real evaluation in benchmarks and stop measuring containers which are fast(first) on small non realistic setups(cheating), but fail with timeout on real.

I hoped issue will be voted so I may proceed, but it is closed. Also I guess Java world may h

[2019-01-02 06:53] slyzly opened #105 "Can you increase the test of TinyMapper?"
https://github.com/TinyMapper/TinyMapper

[2019-01-02 07:56] dotnetjunkie commented on #105
Correct me if I'm wrong, but TinyMapper doesn't seem to be an IoC Container. This benchmark tests IoC Containers.

[2019-01-02 09:15] #105 closed

[2019-01-19 18:43] JamieMeyer opened #106 "Cannot build with 4.7"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0116	A namespace cannot directly contain members such as fields or methods	IocPerformance	D:\Code\IocPerformance-master\IocPerformance\Adapters\DryIocZero\Container.Generated.cs	1	Active

Building with 4.7.2.

Deleting the contents of this file allowed it to build and execute successfully. Downloaded projects should just "work"

[2019-01-20 09:30] danielpalme commented on #106
Just tried it myself. I downloaded the code and was able to compile without issues.

[2019-01-20 09:58] danielpalme commented on #102
Can' reproduce (any more).

[2019-01-20 09:58] #102 closed

[2019-02-06 14:36] dzmitry-lahoda commented on #83
https://github.com/JSkimming/abioc is dead for 1+ year. Would accept pull to drop it from source?

[2019-02-06 15:02] jzabroski commented on #83
I think abioc is very valuable in generating ideas for other
implementations.  I really dislike the idea that just because development
stops on a product, it is dead.  Newtonsoft.Json for example has tons of
bugs due to really bad ideas and it has many releases - should we be happy
about its pile of bugs?

On Wed, Feb 6, 2019 at 9:36 AM Dzmitry Lahoda <notifications@github.com>
wrote:

[2019-02-06 15:53] ipjohnson commented on #83
@jzabroski maybe it’s interesting or maybe the implementation didn’t get fleshed out because supporting more features would mean having more registrations leading to the container losing its performance edge.

I’m not making a case for or against removing it. Just pointing out there might be a reason to why it doesn’t have anywhere near the features of other containers.

[2019-02-06 16:24] jzabroski commented on #83
If there is a critical flaw in abioc's implementation, then point it out.
Speculation and hypotheses without scientific process is just gossip.

On Wed, Feb 6, 2019 at 10:54 AM Ian Johnson <notifications@github.com>
wrote:

[2019-02-06 16:59] jzabroski commented on #83
Then a benchmark similar to the one Fyodor Soikin created for Maxim Volkau
~4 years ago could be helpful:
https://bitbucket.org/dadhi/dryioc/issues/152/exponential-memory-performance-with

(This is something I've been wanting to try...)

On Wed, Feb 6, 2019 at 11:38 AM Ian Johnson <notifications@github.com>
wrote:

[2019-02-06 17:22] ipjohnson commented on #83
Always a big fan of @dadhi work, and I'd definitely be interested in more benchmarks.

That said these days I'm not spending much time doing performance tweaking but I did write some benchmarks that I think are interesting [here](https://github.com/ipjohnson/DotNet.DependencyInjectionBenchmarks). I'd be happy to take a pr for abioc if you wanted to add it.

[2019-02-15 16:35] jzabroski commented on #83
@ipjohnson After thinking about it, probably a reasonable thing to do would be to cut out most frameworks not in say the top 20% - sort of how companies cut off the bottom performing salesforce people - and port the top 20% to benchmark.net.  This would allow achieving my desire of seeing trending in quality of library code over time.

[2019-02-15 17:13] ipjohnson commented on #83
The topic of Benchmark.net has come up a couple time [here](https://github.com/danielpalme/IocPerformance/issues/77).

Benchmark.net is part of the reason I wrote my own benchmarks, that plus a desire to dive deeper into some topics than people want/need.

[2019-04-14 07:20] Barsonax opened #110 "Multithreaded performance is not being measured accurately"
Noticed that the current benchmark does not measure the multithreaded performance accurately enough, especially when containers like singularity can do their work in less than 10 nanoseconds. I believe this is because there's too much overhead in the way the benchmark is done currently. Increasing the sample size might lead to more accurate results.

When you do this you will see that for alot of

[2019-04-14 09:25] #106 closed

[2019-04-14 09:26] danielpalme commented on #110
Correct, but then the execution of the complete benchmark would take several hours. Not every container is as fast as _singularity_.

[2019-04-14 14:46] Barsonax commented on #110
Good point.

A solution could be to execute a variable amount of itterations per adapter. Benchmarkdotnet does something like this by calculating how much itterations fit in a certain time frame.

While calculating that might be a bit complex simply giving a adapter a way to specify how many itterations should be done should work as well.

[2019-04-15 06:23] JonasSamuelsson opened #111 "can't compile with vs2019"
I just tried to comile with vs2019 and got the following error
[code]
seems to be related to your code @dadhi, can you have a look?

[2019-04-15 07:17] danielpalme commented on #111
I had the same problem yesterday.
Cleaning the _bin_ and _obj_ directories and restarting VS2019 did the trick.

See #106.

[2019-04-15 09:06] JonasSamuelsson commented on #111
I've tried that, on two different machines, but still can't compile

[2019-05-04 13:42] Barsonax opened #115 "Make aspnet core benchmark more realistic"
Currently the aspnet core benchmark resolves just a single scoped instances 3 times per scope. This makes it very easy to design a container that scores high on this specific workload. All one needs to do is use a datastructure thats fast on adding items and fast on returning that item if there is only 1 item. A datastructure such as a singlylinked list or even a simple field could be used for thi

[2019-05-04 16:45] danielpalme commented on #115
You are right, it would be possible to create an optimized container.
But that's always possible in a fixed scenario.

If you like you can change that. I won't invest any time in this benchmark any more (apart from updating the containers from time to time).

[2019-05-04 16:52] danielpalme commented on #111
Sometimes it helps to Build -> Rebuild -> Build.
The problem is caused by https://github.com/dadhi/DryIoc which uses Fody

[2019-05-04 16:52] #111 closed

[2019-05-04 16:53] #115 closed

[2019-05-04 16:53] danielpalme commented on #110
If you like you can change that. I won't invest any time in this benchmark any more (apart from updating the containers from time to time).

[2019-05-04 16:53] #110 closed

[2019-05-08 15:02] jzabroski opened #118 "asp.net benchmark - multiple scopes per controller"
A common architecture on projects I work on is to allow multiple scopes per controller, where the controller is an entry point for parallel processing some work. For example, creating multiple `DbContext` objects, one per parallel unit of work.  Since `DbContext` is not thread-safe, a `Func<DbContext>` is required with a way to `OpenScope` on the existing scope, creating a new scope that is either

[2019-05-08 15:24] jzabroski commented on #83
What I now want, in Q2 2019, is the ability to see trends over time:

1. are some containers getting better with each release
2. are some containers addressing specific issues highlighted by the benchmark

Ideally I want a HighCharts-like plot with labels on key data points, and the ability to filter by specific labels.  This can all be done with an ELK backend.  It would be even more awesome if e

[2019-05-08 16:16] danielpalme commented on #83
@jzabroski:
Just go ahead :-)

Here's the complete historic data starting in February 2015:
[History.zip](https://github.com/danielpalme/IocPerformance/files/3158297/History.zip)

[2019-05-08 16:21] jzabroski commented on #83
@danielpalme Thanks.  I can try a Proof-of-concept at some point this year.  I'll start by defining an ElasticSearch document model - what you have as XML is nearly suitable, but each benchmark should probably be a column in the document model.

[2019-05-24 07:51] znakeeye opened #120 "Add VS-Mef"
Should be fairly easy to add?

https://github.com/Microsoft/vs-mef

[2019-05-24 09:03] danielpalme commented on #120
Would you like to send a PR?

[2019-05-24 15:11] jzabroski commented on #120
Almost seems like GitHub could use a neutral ChatBot to respond to "Hey, I think this is easy to do..." with "Would you like to send a PR (for that easy to add feature)?"

[2019-05-24 15:24] Barsonax commented on #120
Why not implement a bot that implements the feature for you then? 😉

[2019-05-28 14:23] znakeeye commented on #120
In most bug/feature tracking systems, you first report an issue. The implementation is usually added after a more detailed analysis.

Yes, I would like to send a PR at some point. If I get hit by a car before doing so, it's certainly good to have an issue ID to refer to.

[2019-06-21 05:30] andreinitescu opened #122 "Add Microsoft.Extensions.Hosting"
First, thank you very much for your work!

Would be very interesting to add [Microsoft.Extensions.Hosting](https://www.nuget.org/packages/Microsoft.Extensions.Hosting) and see the results.
See https://montemagno.com/add-asp-net-cores-dependency-injection-into-xamarin-apps-with-hostbuilder/

[2019-06-21 06:54] danielpalme commented on #122
I guess that's already implemented.
Please have a look at "Microsoft Extensions DependencyInjection 2.2.0" in the [results](https://danielpalme.github.io/IocPerformance/).

[2019-06-21 06:56] andreinitescu commented on #122
Thanks! The link points to an old repo so I thought you're testing the old version.
Maybe it would be better to point to NuGet instead?
https://www.nuget.org/packages/Microsoft.Extensions.DependencyInjection/
NuGet page has a link to the GitHub repo.

[2019-06-21 06:57] andreinitescu commented on #122
I am referring to the link from the results page, it points to "https://github.com/aspnet/DependencyInjection".

[2019-06-21 12:35] danielpalme commented on #122
Fixed in cd7b852d3b06a4bb790c2c6c0754adcfaa0d58cb

[2019-06-21 12:35] #122 closed

[2019-06-21 13:02] andreinitescu commented on #122
Thank you. I wanted to do a PR for this in case you agreed, but many thanks again

[2019-07-08 02:22] sgf commented on #83
about:Not actively maintained
with a **sample** or **Wiki** or any **Start guide** is a very important things ?

[2019-08-08 14:11] BalintPogatsa commented on #120
I've done some tests with VS-Mef.
The only performance indicators which were better than Mef2 (2-3 times faster):
 - Prepare And Register
 - Prepare And Register And Simple Resolve
In every other benchmark Mef2 produced way better result (40 times)

I'm just experimenting with VS-Mef so there is a chance that I've done something in a suboptimal way.

The problem with adding this PR is that VS-Mef

[2019-08-12 14:10] weltkante commented on #120
Maybe you can share your implementation instead of just numbers and saying "you aren't sure if you done it right" ?

[2019-08-12 15:16] AArnott commented on #120
I'm giving it a go.

[2019-08-12 15:47] znakeeye commented on #120
It would also be of interest to see how `vs-mef` performs when loading from a serialized graph. It's certainly faster than standard `MEF`.

@weltkante, I don't think he can share the implementation until the next version of `vs-mef`. Mainly due to [this PR](https://github.com/microsoft/vs-mef/pull/143).

[2019-08-12 16:05] AArnott commented on #120
It's true, right now I'm consuming that PR to make this easier, but IMO the API for this perf test should provide generic type arguments so that all libraries work since generic type -> Type is much easier than Type -> generic type.

[2019-08-12 16:16] AArnott commented on #111
When I checkout master from this repo, it won't build:

[code]

Also, compile is *danged slow*. If this is all fody's fault, I think that should be called out when reporting metrics on various containers (e.g. " ❗️ this uses fody, and dramatically slows down your build")

The workaround to "build, rebuild, build" is no workaround. It's just that fody's buggy code gen and verification step don't ru

[2019-08-12 16:25] Barsonax commented on #111
Might actually be better to remove it completely in my opinion. It takes ages to build.

[2019-08-12 16:55] danielpalme commented on #120
I just removed DryIocZero and Cauldron (both are using Fody).
Build should now work faster and reliably.

[2019-08-12 16:56] danielpalme commented on #111
I just removed DryIocZero and Cauldron (both are using Fody).
Build should now work faster and reliably.

[2019-08-12 16:56] dadhi commented on #120
DryIocZero does not use Fody, but it's fine.

[2019-08-12 17:18] danielpalme commented on #120
@dadhi
Sorry, will add it again tomorrow.

[2019-08-12 22:38] BalintPogatsa commented on #120
I've also uploaded my sources where I'm using the latest AppHost package: https://github.com/BalintPogatsa/IocPerformance

I've excluded all other adapters besides Mef2 and VS Mef for now, to make the comparison fast.

[2019-08-13 07:02] #120 closed

[2019-08-17 08:58] danielpalme commented on #83
@jzabroski
I added a little chart to the results page.
It shows the performance evolution over time for every container/benchmark:
See https://danielpalme.github.io/IocPerformance/

[2019-08-17 20:56] jzabroski commented on #83
Excellent job.

[2019-09-03 07:41] VladislavAntonyuk opened #126 "Unity 5.11.1"
Please update UnityContainer to the latest version

[2019-09-03 18:26] #126 closed

[2019-09-03 21:59] sberney commented on #90
What do you mean? I can install TinyIoC in VS2017 and VS2019.

TinyIoC is a pretty heavily used IoC container, it would be nice to see how it compares.

[2019-09-03 22:52] jzabroski commented on #90
@sberney The comment you are responding to is literally almost 2 years old.

[2019-09-15 21:40] Barsonax opened #129 "Performance regression in singularity"
I have noticed a rather big sudden performance regression for Singularity in this benchmark which I cannot reproduce (by checking out this repo and running the benchmarks) and also iam not aware of any changes made to the code that might have caused this.

Just speculating here but was the benchmark accidentally run in debug mode?

[2019-09-16 06:09] danielpalme commented on #129
Benchmark is always executed in _Release_ mode.
I don't know what causes the regression.

I just executed the benchmark again (Release mode, all other applications closed).
This is the result:

![image](https://user-images.githubusercontent.com/859606/64937124-4acabb80-d859-11e9-9d8b-d6081963ba6f.png)

[2019-09-16 06:56] Barsonax commented on #129
Strange when I execute this I get different results. Also your results also differ quite alot from the ones in the readme.

[2019-09-16 07:57] danielpalme commented on #129
No debugger attached. Same machine as always.

[2019-09-16 20:27] Barsonax commented on #129
Strange these results don't make sense. For some reason Singularity is performing way worse in the basic benchmarks but fine in the advanced (the generic one is faster than singleton...).

Have to investigate further what causes this.

[2019-09-18 20:35] Barsonax commented on #129
These are the results I get:
![image](https://user-images.githubusercontent.com/19387223/65183842-98674400-da64-11e9-8b50-eaa844712764.png)

Added grace as a comparison since iam running this on a different machine.

[2019-09-18 20:52] jzabroski commented on #129
I think you need to go on eBay and buy the following:

Intel(R) Core(TM) i5-6260U CPU @ 1.80GHz
Memory: 15,89GB

Joking, but [joking seriously](https://www.ebay.com/itm/INTEL-NUC6I5SYH-I5-6260U-16GB-DDR4-SODIMM-128GB-SSD/352765849385?epid=10031751117&hash=item52227baf29:g:7IMAAOSwB9Fb4gEe).

[2019-09-18 20:54] jzabroski commented on #129
The other option is to ask Daniel to ship you his compiled binaries and then you run the benchmark that way.  Probably a cheaper option to start.

[2019-09-18 20:54] Barsonax commented on #129
@jzabroski I think you miss the fact that between runs the variation in the results is also way too high suddenly (even for the same version!)

[2019-09-18 21:00] jzabroski commented on #129
I am not sure what variation you are referring to.  When I look at his screenshot and the current readme, they are identical.

[2019-09-18 21:01] Barsonax commented on #129
Thats because his screenshot and the current readme are from the same run...

[2019-09-18 21:20] Barsonax commented on #129
@danielpalme can you try running only the singularity container benchmark and nothing else? Just to rule out another container's side effect ruining the benchmark?

[2019-09-19 05:33] danielpalme commented on #129
I executed the benchmark again. Now Singularity performs much better again.
Maybe some background process on my machine affected the performance.

[code]

[2019-09-19 05:33] #129 closed

[2019-09-19 06:45] Barsonax commented on #129
Jup thats the performance iam used to 👍. Lets keep a eye out for when this happens again (maybe it was caused by a side effect of another container?).

[2019-12-14 00:12] RobertMcCoy opened #130 "DryIoC Updated To GitHub"
I noticed this when looking into a couple of the IoC listings.

The DryIoC BitBucket says the following:

I think the readme should point at the most up to date place.

[2019-12-14 09:44] #130 closed

[2020-02-05 12:45] MinhThienDX commented on #83
Hello @danielpalme, what about remove "noise" on your website too?
I saw that you have removed StyleMVVM in this repo but StyleMVVM still listed on your website
www.palmmedia.de/Blog/2011/8/30/ioc-container-benchmark-performance-comparison

I think we can remove these containers below too.
Format: Container & year of last commit or last NuGet update
fFastInjector 2015
Funq  2013
Griffin 2017
HaveB

[2020-02-06 19:35] danielpalme commented on #83
@MinhThienDX
You are right, the list is outdated.
But currently other things are much more important and valuable (for me) than updating that list.

[2020-02-07 02:51] MinhThienDX commented on #83
Hello @danielpalme, I understand that.
How about I try to come up with a PR and you just need to check then merge that PR, sound good?

[2020-02-07 14:53] danielpalme commented on #83
@MinhThienDX: Sure

[2020-06-16 10:22] oscarjaergren opened #137 "TinyIoC Perfomance"
This has been brought up in the past, but TinyIOC is one of the largest IOCS out there and should be included in any metrics.

The old issue mentioned VS2017 as the limiting factor, but since we are now on VS2019 and TinyIOC has been updated along with it I feel this warrants being brought up again.

Please add TinyIOC to the comparisons in the future. I believe a lot of people would appreciate th

[2020-06-16 17:45] danielpalme commented on #137
If you like, you can submit a PR.

I will not actively maintain this project any more. Reasons:
- My time is limited
- It's still based on .NET Framework. The benchmark should be rewritten and targeting .NET Core.

[2020-08-15 19:40] ENikS opened #139 "Interception unfairly skewing benchmarks"
I would like to suggest a small improvement to your benchmarks. It has to do with how your setup threats interception.

Generally interception extension severely degrades any container's performance. (Unity, for example, does not recommended it for new development). I once sent you a PR with removed interception, but you added it back.

If you insist on testing interception, perhaps you could test

[2020-08-15 19:52] ENikS commented on #137
@danielpalme

Would you be willing to allow others to help maintaining this project? Perhaps create a team?

I think it is very useful project for people who is trying to select IoC for their development and could benefit a lot of people and businesses around the world.

[2020-08-16 08:40] danielpalme commented on #139
Would you like to create a PR?

[2020-08-16 08:43] danielpalme commented on #137
PRs are always welcome.

But as stated in my previous comment the next step would be quite a lot of work.
I would like to rewrite the whole benchmark based on .NET Core with [BenchmarkDotNet](https://github.com/dotnet/BenchmarkDotNet).

I already started the implementation, but due to the lack of time, it's not complete in any way yet.

[2020-08-16 16:19] ENikS commented on #137
I am working on Unity 6.x and doing a lot of benchmarks for each step. Why not combine the efforts?

I am sure other IOC authors will contribute as well, if not code, perhaps smart ideas and suggestions. There is a whole IOC council lead by Microsoft that could help.

You can still own and lead the effort if it is important to you...

[2022-01-04 11:59] #137 closed

[2022-01-04 11:59] #103 closed

[2022-01-04 11:59] #81 closed

[2022-01-04 11:59] #118 closed

[2022-01-04 11:59] #139 closed

[2022-09-02 03:01] sgf opened #151 "suggest add Api Friendly evaluate"
suggest add Api Friendly evaluate,

For example, DryIoc, its API is very unfriendly and inconvenient to use.

[2022-09-02 06:18] danielpalme commented on #151
Good idea, but I don't put any effort in this project any more.

[2022-09-02 06:18] #151 closed

[2022-09-02 07:27] dadhi commented on #151
@sgf Hi, if you see something unfriendly in DryIoc api could you suggest what is it in DryIoc issue or discussion?
Better with comparison of what you think a friendly api.

@danielpalme Thanks for all the fish! :-)

[2022-09-02 10:00] sgf commented on #151
you found this  😂

I followed the instructions from this repo and found that dryioc is very performant and functional. But I ran into various difficulties when I used it. Because the warehouse only evaluates some simple conditions, and tends to performance indicators.

dryioc lacks some default behaviors. For example: IDisposable is registered as a singleton by default to make it work.

This is ju